<p style="color: green"><%= notice %></p>

<%= render @chat_history %>

<div>
  <%= link_to "Edit this chat history", edit_chat_history_path(@chat_history) %> |
  <%= link_to "Back to chat histories", chat_histories_path %>

  <%= button_to "Destroy this chat history", @chat_history, method: :delete %>
</div>
